/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*asteriks wildcard selector to overide page pre default styles added to the browser*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*general styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
/*header*/
header{
    background-color: rgb(38, 111, 221);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header  a{
    text-decoration: none;
    color: inherit;
    

}
h1{
    font-family: 'Oswald', sans-serif;
}
#menu{
    letter-spacing: 3px;
    font-size: 110%;
    list-style-type: none;
}
#menu > li{
    margin-bottom: 1rem;
}
.active{
    border-bottom: 1px solid #3a3a3a;
}
/*nav styles with dropdown toggler*/
nav{
    position: absolute;
    width: 100%;
    padding:0 1rem;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    background-color: rgb(38, 111, 221);
    display: none;
    top: 100%;
}

/*nav toggler*/

#nav-toggler:checked~nav{
    display: block;
}

#nav-toggler{
    display: none;
}

.nav-toggler-label{
    font-size: 2rem;
}

/*main*/
main{
    background-color: red;
    /*make the main take up the space to push footer down*/
    flex: 1 0 auto;
    margin-top: 42px;
}
/*footer*/
footer{
    background-color: yellow;
}

/* Media queries : tables for larger ( 768px and up)*/

@media screen and (min-width:768px){
  
/*header*/
    nav{
        display:block;
        position: relative;
        box-shadow:none;
        width: fit-content;
    }

    #menu{
        display: flex;
        align-items: center;
        padding-right: 1rem;
    }
    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggler-label{
        display: none;
    }

    #logo{
        font-size: 280%;
        line-height: 75px;
        padding: 0 0.5rem;
    }
    /*push the main down*/
    main{
        margin-top: 76px;
    }
}
