*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{
    background-color: blue;
}

/*main*/
main{
    background-color: red;
}
/*footer*/
footer{
    background-color: yellow;
}